
body{
  font-family: 'Share Tech Mono', monospace;
  background-size: 80%;
  background-color: black;
  color: white;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.person {
  border: 1px solid black;
  /* width: 80%;
  height: 80%; */
  text-align: center;
 
  justify-content: center;
  align-items: center;
  font-size: 1em;
  box-shadow: 0 0 15px 10px rgb(233, 254, 9);
}
.logo {
  background-image: url(./Logo.svg.png);
}